body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefefe;
}
.navbar {
  background-color: #6c63ff;
}
.list-category {
  cursor: pointer;
}
.menus {
  cursor: pointer;
}

.btn-primary {
  background-color: #6c63ff !important;
  border: #6c63ff !important;
  box-shadow: 0px 4px 12px #6b63ff4f;
}
.btn-primary:hover {
  background-color: #6c63ff;
  border: #6c63ff;
  box-shadow: 0px 4px 14px #6b63ffb4;
}

.category-active {
  background-color: #6c63ff;
  color: white;
  cursor: pointer;
}
.mycart {
  margin-bottom: 32%;
}
.cart-hover:hover {
  background-color: #aba7f51a;
  border-radius: 2px;
  cursor: pointer;
}
.qty {
  font-size: 14px;
  background-color: #38cab2;
  box-shadow: 0px 4px 12px #14494023;
}
.title {
  font-size: 16px;
  font-weight: 600;
}
.float-right {
  font-size: 15px;
  font-weight: 600;
}
.float-left {
  font-size: 14px;
}

.TotalBayar {
  font-size: 16px;
  font-weight: 600;
}

.andynhov {
  color: #e9e9e9c5;
}
.andynhov:hover {
  color: #e9e9e9f1;
}
